@keyframes animateEven{

    0%{
        transform: rotate(15deg);
    }

    25%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(-15deg);
    }

    75%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(15deg);
    }
};

@keyframes animateOdd{

    0%{
        transform: rotate(-15deg);
    }

    25%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(15deg);
    }

    75%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(-15deg);
    }
};

@keyframes animateBcg{

    0%{
        background-position: 0 0;
    }   

    100%{
        background-position: 200% 0;
    }
};

@keyframes animateFadeIn{

    0%{
        clip-path: circle(100%);
    }   

    100%{
        clip-path: circle(0%);
    }
};

@keyframes animateFadeOut{

    0%{
        clip-path: circle(0%);
    }   

    100%{
        clip-path: circle(100%);
    }
};

@keyframes animateError{

    0%{
        font-size: 3rem;
    }   

    75%{
        font-size: 5.5rem;
    }

    100%{
        font-size: 3rem;
    }
};

@keyframes animateZoom{

    0%{
        transform: scale(1);
    }   

    75%{
        transform: scale(1.4);
    }

    100%{
        transform: scale(1);
    }
};

@keyframes animateBackground{

    0%{
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    
    10%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }

    100%{
        transform: scale(1) translateY(-700%) rotate(360deg);
        opacity: 0;
    }  
};

