*,
*::after,
*::before {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

body{
  width: 100vw;
  height: 100vh;
}

html{
    font-size: 62.5%;  //2rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land){
      font-size: 56.25%;
    }

    @include respond(tab-port){
      font-size: 50%;
    }

    @include respond(phone){
      font-size: 35%;
    }

    @include respond(big-desktop){
      font-size: 75%;
    }
}