.display{
    border: 0.8rem solid $color-grey;
    border-radius: 1rem;
    text-transform: uppercase;

    &--rounds{
        width: 12rem;
        height: 8rem;
        background: #262626;
        text-align: center;
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;      
    }

    &--score{
        width: 28em;
        height: 10rem;
        display: flex;
        justify-content: center;        
    }
};