.overlay{
    top: 0;   
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: $color-primary-transp-dark;
    position: fixed;

    &__header{        
        position: absolute;
        width: 80%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tab-port){
            top: 3%;
        }

        &--isHidden{
            opacity: 0;
            display: none;
        };
    }

    &__navigation{
        margin: 10rem 0 5rem 0;
        position: relative;        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        border-radius: 1rem;

        @include respond(tab-land){
            margin-top: 2rem;
        }

        @include respond(phone){
            margin-top: 6rem;
        }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(45deg, #d0ff00, #d0ff00, #faf8f8, #d0ff00, #d0ff00, #faf8f8, #d0ff00, #faf8f8, #d0ff00);
                filter: blur(1.3rem);
                background-size: 200%;              
                z-index: -2;
                animation: animateBcg 2s linear infinite;
            }
            
            &::after{
                content: " ";
                border-radius: 1rem;
                top: 0.2rem;
                left: 0.2rem;               
                right: 0.2rem;
                bottom: 0.2rem;
                position: absolute;
                background-color: $color-primary-transp-dark;
                z-index: -1;
            }
    }

    &--fade-in{
       animation-name: animateFadeIn;
       animation-duration: 1s;
       animation-fill-mode: forwards;       
    }

    &--fade-out{
       animation-name: animateFadeOut;
       animation-duration: 1s;
       animation-fill-mode: forwards;
    }

    &__options-container{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        justify-content: center;
        align-items: center;
    }

    &__summary{
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        position: absolute;
        color: $color-yellow;
        font-size: 8rem;
        z-index: 2;

        &-container{
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }        

        &-message{
            font-size: 8rem;
            margin-top: 5rem;
        }

        &-result{
            color: $color-yellow;
            display: flex;
            flex-direction: row;            
            text-transform: uppercase;
            justify-content: space-between;
            width: 16rem;
            height: 10rem;
        }

        &--isHidden{
            opacity: 0;
            z-index: -10;
            display: none;
        }
    }
}